{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        },
        "debug": true,
        "modules": "commonjs"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src"
      }
    ]
  ]
}
